@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

:root {
  --brightblue: #0A2CCA; /* rgb 10 44 202*/
  --blue: #073C72; /* rgb 7 60 114*/
  --brightorange: #FF6400; /* 255 100 0*/
  --orange: #EF8C00; /* 239 140 0*/
}

html {
  box-sizing: border-box;
}

h1{
  color: var(--blue);
  left: 0;
  top:0.1em;
  left:.1em;
  font-weight: bold;
}
body {
  margin: 0;
  min-height: 90vh;
  background-color: #fff;
  color: var(--orange);
  font-family: Montserrat, sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container {
  position: relative;
  width: auto;
  max-width: 750px;
  height: 90vh;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

#quote {
  font-weight: 800;
  font-style: bold;
  text-decoration: underline;
  text-decoration-color: var(--orange);
  color: var(--blue);
  position: absolute;
  left: 0;
  padding: 10px;
}

.quote-author {
  font-size: 1.5rem;
  font-style: italic;
  visibility: hidden;
  position: absolute;
  top: -2000px;
}

.button-container {
  margin: 12px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-size: 1rem;
  height: 2rem;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: var(--orange);
  outline: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  box-shadow: 0 0.2rem 0.1rem var(--blue);
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

.twitter-button:hover {
  color: #38a1f3;
}

.facebook-button:hover {
  color: #3b5998;
}

#new-quote {
  background-color: var(--blue);
  box-shadow: 0 0.2rem 0.1rem var(--orange);
}
.fa-twitter {
  font-size: 1.1rem;
}

.fa-facebook {
  font-size: 1.1rem;
}

li{
  list-style-type: none;
}

/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 5px;
  }

  .quote-text {
    font-size: 3vh;
  }

  h1{
    position: absolute;
    padding: 5px;
  }
    .long-quote {
    margin-top: 35px;
    font-size: 2.5vh;
  }
  #quote {
    top: 40px;
  }
}

img {
  width: 100%;
  height: auto;
}

/* Media Query: Tablet or Smaller */
@media screen and (min-width: 1000px) {
  .quote-container {
    margin-top: 20px;
  }
  h1{
    position: relative;
    padding: 25px;
  }
  .quote-text {
    font-size: 3rem;
  }

  .long-quote {
    font-size: 2.5rem;
  }
  #quote {
    top: 200px;
  }
}